flask/section4/code/__pycache__/security_class.cpython-36.pyc
flask/section4/code/__pycache__/user.cpython-36.pyc
/.idea/modules.xml
/flask/data.db
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/libraries/R_User_Library.xml
/.idea/REST-API.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/.gitignore
/flask/section5/data.db
./idea
.coverage
__*
section5/tests/test-reports/
section6/venv/
section6/code/__pycache__/
*.pyc